* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

html,
body {
  background: #e0e0e0;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  position: flex;
  top: 0;
  width: 100%;
  background-color: #fec63e;
  padding: 20px 0;
  z-index: 10;
}

.menu-nav ul {
  display: flex;
  margin-left: 75%;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
  text-align: left;
  color: #84e;
}

.menu-nav a:hover {
  color: #e0e0e0;
}

select {
  width: 50%;
  height: 25px;
  padding: 10px 5px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  outline: none;
  color: #333333;
  background: #e8ebed;
  border: 2px solid #84e;
  border-radius: 4px;
}

select option {
  color: #333333;
}

.fieldset {
  display: inline-block;
  padding-left: 60px;
  padding-right: 60px;
  border: 2px solid;
  border-radius: 10px;
  color: #333333;
}

legend {
  font-size: 30px;
  color: #84e;
}

form {
  margin: 60px;
}

input {
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  width: 50%;
  height: 25px;
  padding: 10px 5px;
  outline: none;
  background: #e8ebed;
  border: 2px solid #84e;
  border-radius: 4px;
}

h2 {
  text-align: center;
  padding: 20px;
  color: #333333;
}

h1 {
  font-size: 25px;
  padding: 5px;
  color: #333333;
}

aside {
  padding: 10px;
  display: flex;
  text-align: center;
}

label {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

input {
  text-align: center;
  display: block;
}

input .checkbox {
  margin-left: 20px;
}

.tema {
  font-size: 25px;
}

.idade {
  margin: 10px;
  display: flex;
}

.opcao {
  font-size: 20px;
  display: flex;
  row-gap: 12px;
}

.check {
  display: inline-flex;
}

.botao {
  margin-top: 15px;
  font-size: 26px;
  padding: 10px;
}

button {
  height: 30px;
  width: 150px;
  left: 576px;
  cursor: pointer;
  border-radius: 24px 4px;
  background: #fec63e;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.botao button:hover {
  background-color: #84e;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}