
* {
  text-align: center;
}

.campo {
  display: inline-block;
}

input {
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  width: auto;
  padding: 5px;
  display: flex;
}

.verifica-idade {
  display: inline-flex;
  margin: 15px;
}

.pontos {
  display: inline-flex;
}
